body {
    color: white;
    background: white;
    margin: 0px;
}

header{
    border-bottom: sold 2px black;
    padding: 20px;
    font-size: 32px;
    color: black;
}

section{
    
}